.editMenu__ul {
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
    z-index: 1000;
    overflow: hidden;
    margin: 0;
    display: inline-block;
}
.editMenu__li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}
.editMenu__li:hover {
    background-color: #DEF;
}
.editMenu__ul {
    position: absolute;
    top: 120px;
}